* {
  box-sizing: border-box;
  margin: auto;
}
body {
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

header {
  background-color: #ffe3c4;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.logo {
  max-width: 250px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  font-weight: 700;
  color: #4a4a4a;
  width: 100%;
}
nav > ul > li > a:visited {
  color: #fd4644;
}
a {
  color: #d70015;
  text-decoration: none;
}
a:visited {
  color: #fd4644;
}
a:hover {
  color: #333333;
}
a:active {
  color: #1e474e;
}
#hero span {
  display: block;
}
img {
  width: 100%;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.button {
  display: inline-block;
  border-color: #333333;
  background-color: #d70015;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button:visited {
  color: #ffffff;
  background-color: #ff7f50;
}
.button.contact {
  background-color: transparent;
  color: #333333;
  border: 5px solid #ff7f50;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
footer {
  background-color: #ffe3c4;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

/*
Home Page- index.html
*/
#hero {
  color: #333;
  width: 100%;
  text-align: center;
}

#work .row {
  padding-bottom: 2.5rem;
}

#work h2 {
  text-align: center;
}

#work h3 {
  margin-top: 0;
}

/*
About Me - about.html
*/
#me {
  margin-left: 10%;
  margin-right: 10%;
}

.button-wrapper {
  text-align: center;
}
/*
  CSS ANIMATION
  */

@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin: 1em;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  .col-lg-8 {
    width: 66.66%;
    padding: 0 80px 0 0;
  }

  .col-lg-7 {
    width: 60%;
    padding-top: 0;
    padding-right: 30px;
  }

  .col-lg-6 {
    width: 50%;
    float: left;
    padding-top: 0;
  }

  .col-lg-5 {
    width: 40%;
    float: left;
    padding: 0 0 0 20px;
  }

  .col-lg-4 {
    width: 33.33%;
    padding: 0 80px 0 0;
  }

  .col-lg-skills {
    padding: 0;
    margin: 0;
  }

  .row-lg-skills {
    width: 100%;
    text-align: left;
    padding: 0 0 10px;
  }
  /*
  CSS ANIMATION
  */

  @keyframes color-change {
    from {
      fill: #edc655;
    }
    to {
      fill: #f76414;
    }
  }
  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  @keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }
    to {
      transform: translate(200px, 50px);
    }
  }
  .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  @keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }
    to {
      transform: translate(100px, 48px);
    }
  }
  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }
}
